# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
venv/
env/
rcsssmj_env/
.venv/

# Logs
*.log
console.log
MUJOCO_LOG.TXT
CSV/
*.csv

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
